<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>
    <div class="panel-group" style="margin-top:40px">
        <form autocomplete="off" th:object="${movie}" method="POST" class="form-horizontal" role="form">
            <h2>Movie</h2>
            <input type="hidden" name="cinema" th:value="${cinema_id}" />
            <div class="form-group">
                <div class="col-sm-9">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{name}" placeholder="Cinema name"
                           class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="validation-message"></label>
                    <textarea th:field="*{description}"
                           placeholder="Cinema Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="validation-message"></label>
                    <select class="form-control" name="rating" id="rating" th:field="*{rating}" placeholder="Movie Rating" >
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <label th:if="${#fields.hasErrors('release')}" th:errors="*{release}"
                           class="validation-message"></label>
                    <input th:field="*{release}" type="date" placeholder="Cinema Release" class="datepicker" data-date-format="mm/dd/yyyy" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary btn-block">Add Movie</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>