<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
        </form>
        <div class="panel-group" style="margin-top:40px">
            <a href="/admin/cinema/report.xls">Download EXCEL</a>
            <a href="/admin/cinema/report.pdf">Download PDF</a>
            <a href="/admin/cinema/report.doc">Download DOC</a>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">City</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Created At</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="cinema : ${cinemas}">
                    <tr>
                        <td><a th:href="@{|/admin/cinema/${cinema.id}|}" th:text="${cinema.name}"></a></td>
                        <td th:text="${cinema.country}"></td>
                        <td th:text="${cinema.city}"></td>
                        <td th:text="${cinema.rating}"></td>
                        <td th:text="${cinema.createdAt}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(1, __${totalPages}__)}">
                    <a th:href="@{|?page=${i - 1}&amp;size=10|}"><td th:text="${i}"></td></a>
                </li>
            </ul>
        </div>

        <form th:action="@{/admin/cinema/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Add new Cinema</button>
        </form>
    </div>
</body>
</html>