<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Page</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
            </form>
            <div class="panel-group" style="margin-top:40px">
                <form autocomplete="off" th:object="${cinema}" method="POST" class="form-horizontal" role="form">
                    <h2>Cinema</h2>
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="id" th:value="*{id}" />
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                            <input type="text" th:field="*{name}" placeholder="Cinema name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="validation-message"></label>
                            <input type="text" th:field="*{country}" placeholder="Cinema Country" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="validation-message"></label>
                            <input type="text" th:field="*{city}" placeholder="Cinema City" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="validation-message"></label>
                            <select class="form-control" name="rating" id="rating" th:field="*{rating}" placeholder="Cinema City" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Update Cinema</button>
                        </div>
                    </div>

                    <span th:utext="${successMessage}"></span>
                </form>

                <form th:action="@{|/admin/${cinema.id}/movie/new|}" method="get">
                    <button class="btn btn-md btn-warning btn-block" type="Submit">Add new Movie</button>
                </form>

                <div th:if="${movies != null}">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Release</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="movie : ${movies}">
                            <tr>
                                <td th:text="${movie.name}"></td>
                                <td th:text="${movie.description}"></td>
                                <td th:text="${movie.release}"></td>
                                <td th:text="${movie.rating}"></td>
                                <td th:text="${movie.createdAt}"></td>
                                <td><a th:href="@{|/admin/movie/${movie.id}|}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td>
                                    <form th:action="@{|/admin/movie/${movie.id}|}" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="glyphicon glyphicon-remove movie" name="delete" type="Submit"></button>
                                    </form>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>