<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>
    <div class="panel-group" style="margin-top:40px">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Release</th>
                    <th scope="col">Rating</th>
                    <th scope="col">All tickets are sold out</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="movie : ${movies}">
                    <tr>
                        <td><a th:href="@{|/movie/${movie.id}|}" th:text="${movie.name}"></a></td>
                        <td th:text="${movie.description}"></td>
                        <td th:text="${movie.release}"></td>
                        <td th:text="${movie.rating}"></td>
                        <td th:text="${movie.matineesCount >= 30 } ? 'Yes' : 'No'"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <ul class="pagination">
                <li th:each="i : ${#numbers.sequence(1, __${totalPages}__)}">
                    <a th:href="@{|?page=${i - 1}&amp;size=10|}"><td th:text="${i}"></td></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>