<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>
    <div class="panel-group" style="margin-top:40px">
        <h1 th:utext="@{|Movie: ${movie.name}|}"></h1>
        <p th:utext="@{|Description: ${movie.description}|}"></p>
        <p th:utext="@{|Rating: ${movie.rating}|}"></p>
        <p th:utext="@{|Release: ${movie.release}|}"></p>

        <h2>Matinees</h2>

        <ul class="matinees">
            <li th:each="i : ${#numbers.sequence(1, 30)}">
                <form th:action="${matinee_seats.keySet().contains(i)} ? @{|/matinee/${matinee_seats.get(i)}|}" method="post">
                    <button th:class="${matinee_seats.keySet().contains(i)} ? 'btn btn-xs btn-danger' : 'btn btn-xs btn-default'" name="matinee" type="Submit"><td th:text="${i}"></td></button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>