<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>
    <div class="panel-group" style="margin-top:40px">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Seat</th>
                    <th scope="col">Seance Time</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${matinee.seat}"></td>
                    <td th:text="${matinee.seanceTime}"></td>
                    <td th:text="${matinee.userName}"></td>
                    <td th:text="${matinee.createdAt}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>